.container {
  display: flex;
  padding: 12px;
}

.controlsContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  min-width: 740px;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 24px;
}
